[2015-02-11 06:22] hseeberger opened #2 "Don't log "Headers created for 0 files""
That's just annoying. If needed use debug log level.

[2015-02-11 06:30] huntc commented on #2
+1

[2015-02-11 06:30] huntc commented on #2
I see it Play dev mode also when developing the visualizer - very polluting.

[2015-02-11 06:55] hseeberger commented on #2
Closed via #3.

[2015-02-11 06:55] #2 closed

[2015-02-12 08:52] hseeberger opened #4 "Add debug output for diagnostics"

[2015-02-12 09:05] #4 closed

[2015-02-12 10:28] hseeberger opened #6 "Stack overflow for hashLineComment"

[2015-02-12 10:35] #6 closed

[2015-02-16 20:50] soumyasd opened #8 "Got error java.lang.NoSuchMethodError: java.nio.file.Files.readAllLines(Ljava/nio/file/Path"
I get a java.lang.NoSuchMethodError when I try to run on a project on OS-X.
I'm using

**SBT**
sbt version 0.13.5.

**JVM**
java version "1.7.0_45"
Java(TM) SE Runtime Environment (build 1.7.0_45-b18)
Java HotSpot(TM) 64-Bit Server VM (build 24.45-b08, mixed mode)

**Scala**
scalaVersion := "2.10.4"

`java.lang.NoSuchMethodError: java.nio.file.Files.readAllLines(Ljava/nio/file/Path;)Ljava/util/Lis

[2015-02-16 22:45] soumyasd commented on #8
Okay looks like this works on Java 8.

[2015-02-16 23:39] soumyasd commented on #8
Will be nice to have support for Java < 8

[2015-02-17 17:41] hseeberger commented on #8
Thanks for the heads up. Please give version `1.1.1-a95a88657dc07b8297c0a0390cb6365d994fee26` a try and let me know if it works.

[2015-02-17 20:18] soumyasd commented on #8
yeah it works. Thanks.

[2015-02-18 07:30] #8 closed

[2015-02-18 07:48] hseeberger commented on #8
Fantastic. 1.1.1 has been released. Enjoy!

[2015-03-17 12:01] pierre-borckmans opened #13 "Using sbt-header in scala sbt build"
Hi there,
I'm trying to use this nice plugin with a full scala sbt definition (`build.scala`, not `build.sbt`).

In order to be able to define the `headers` map, I had to import the following:
[code]

I then define the `headers` map in my project settings:
[code]

I am then able to create the headers interactively in sbt:
[code]

However, I cannot get this task to be automatically executed with th

[2015-03-17 17:01] hseeberger commented on #13
First, I recommend upgrading to the just released v1.3.0. The README has been improved, including a couple of imports.

For a hopefully illustrative example take a look at the build files of this project:
- https://github.com/sbt/sbt-header/blob/master/build.sbt
- https://github.com/sbt/sbt-header/blob/master/project/Build.scala
- https://github.com/sbt/sbt-header/blob/master/project/plugins.sbt

[2015-03-18 15:19] pierre-borckmans commented on #13
Thanks, using the new version works flawlessly!
Great little plugin.

Just a small detail. I don't know if it's intended or not, but it removes all the newlines at end of files.

[2015-03-18 15:46] pierre-borckmans commented on #13
Another thing, for the moment I have set an empty string for my header.
I intend to include the real one later.
In the meanwhile, every time I compile, I see `Headers created for 62 files:...` with all the modified files even though no files were modified (empty header).
Does it make sense to fix that?

[2015-03-18 16:25] hseeberger commented on #13
"I don't know if it's intended or not, but it removes all the newlines at end of files." >> I can't reproduce that. Are you sure that the newlines aren't removed by Scalariform?

Wrt empty header: I assume you are using the `HeaderPattern.cStyleBlockComment` in combination with an empty string. That wouldn't make sense, would it?

[2015-03-18 16:34] pierre-borckmans commented on #13
1/ I've been using Scalariform for a very long time and it never removed the newlines. This only happened since I'm using sbt-header. Is it a combination of both then?

2/ I do use `HeaderPattern.cStyleBlockComment` with an empty string, waiting for our project to get its official header. What should I use instead? (for the moment I disabled the auto plugin on compile)

[2015-03-18 16:49] hseeberger commented on #13
(1) When I disable sbt-header by removing `enablePlugins(AutomateHeaderPlugin)` from my build Scalariform still removes empty lines. Can you put together a reproducible test case which shows that sat-header is involved?

(2) Well, either don't use the plugin until you know the header or simply use some non-empty header (a simple one-line copyright notice won't hurt too much, will it?); when you ch

[2015-03-20 12:10] #13 closed

[2015-03-31 17:46] pdalpra opened #18 "Importing the whole sbtheader package leads to compile errors"
[code]

Maybe those type aliases can be made public or move to something else than a package object ?

[2015-03-31 20:27] hseeberger commented on #18
Wow, that's annoying. I'd rather drop the type aliases and use "normal" `immutable.Seq`.

[2015-04-10 10:19] #18 closed

[2015-05-04 12:31] retronym opened #23 "Preserve copyright years"
Rather than just writing the new header into files, it would be better to "merge" the old and new headers, taking the current year and overall format from the configured header, and the copyright year ranges from the old.

[2015-05-04 12:33] retronym commented on #23
WIP https://github.com/retronym/sbt-header/pull/1

[2015-05-04 19:20] hseeberger commented on #23
I haven't looked into your code yet, but one feature I want to keep is overwriting existing headers in order to enforce a single header thought the whole project. Of course an option to allow for file specific dates is fine and maybe another one (not the default) to keep (the format of) existing headers. If you plan for the latter, too, please add another issue/PR, i.e. let's keep this focussed on

[2015-05-04 23:50] retronym commented on #23
I'm all for consistent headers too. I think we can expose a new boolean setting that one can use to enable the date range merging.

[2015-05-21 17:36] hseeberger opened #24 "Don't mess with line separators"
See https://github.com/hseeberger/akka-sse/pull/39/files#r30825643

[2015-07-27 10:19] DomBlack opened #26 "Add support for unmanagedSourceDirectories over unmanagedSources"
At the moment the plugin is based on unmanagedSources which [defaults](http://www.scala-sbt.org/0.13/docs/Howto-Customizing-Paths.html#Include%2Fexclude+files+in+the+source+directory) to `*.scala` and `*.java` only. However the plugin allows us to specify headers by extension.

I believe the better solution would be to modify the plugin to use the `unmanagedSourceDirectories` key and find all the

[2015-08-01 12:08] pdalpra opened #27 "The plugin should not be targeting JDK7"
As SBT itself is targeting JDK6, I think that sbt-header should not  set `-target:jvm-1.7` to target JDK7.

[2015-08-01 12:52] hseeberger commented on #27
Actually I think sbt-header should target Java 8, because both Java 6 and 7 are EOL.

[2015-08-06 05:55] pdalpra commented on #27
Indeed, Java 6 and 7 are EOL, but since Scala 2.11 default target is still 1.6 and SBT itself requires JDK6 (to the point you cannot fully build SBT if you're not explicitly using a JDK6) and is based on Scala 2.10, I thought I could be good to keep versions aligned until both Scala and SBT move to an higher default target :)

[2015-08-06 13:40] hseeberger commented on #27
I understand your reasoning, but I prefer to not look forward in this case ;-)

[2015-08-06 13:40] #27 closed

[2015-10-31 13:09] fommil opened #30 "ability to ignore some files"
We have some files that have been copied from another project and have additional copyright / license information that must be displayed. Is it possible to ignore such files?

I'm thinking of a workaround whereby those files simply have two header sections.

[2015-10-31 13:11] fommil opened #31 "build on JDK6"
inclusion of this plugin leads to:

[code]

it would be good to support JDK6 as it is still the official JDK for Scala and is therefore used in many CIs. (I actually use it locally for my OSS projects to avoid discovering the pain only when merging)

[2015-12-13 19:12] #24 closed

[2016-01-12 21:17] sirthias commented on #30
+1
Same here.

I think I'd prefer some way of marking a particular header as "untouchable", e.g. via another regex.
And a task showing me all the files with "KEEP" headers would be the cherry on the cake... :)

[2016-01-12 21:20] hseeberger commented on #30
Ouch. This little innocent project is getting too much attention. I don't have any spare cycles to work on this or similar issues these days. But hey, of course this is open source and you can help yourself and create PRs.

[2016-01-12 21:23] hseeberger commented on #31
Sorry, but I'm not willing to support Java 6. I'd even not support Java 7, but sbt is still on Scala 2.10 and there's no Java 8 for it.

[2016-01-12 21:24] sirthias commented on #30
There is no such thing as "too much attention" in OSS... :)

[2016-01-12 21:26] hseeberger commented on #30
... in theory ;-)

[2016-01-12 21:38] fommil commented on #30
heh, funny I was thinking about this today.

I'll be giving a talk about copyright / licensing at ScalaSphere. It's only 15 minutes, so not enough time to fall asleep at the back.

[2016-01-12 21:39] fommil commented on #31
that sucks, it means we can't use this in ENSIME, or actually any project that supports android. Are you using the java 7 APIs?

[2016-01-12 21:49] hseeberger commented on #31
Why is ENSIME on Java 6?
And yes, this project makes use of Java 7 API. Only a little bit, though.

Closing this issue was premature, I have opened it again in case you want to give it a try.

[2016-01-12 22:01] fommil commented on #31
I might! Since I'm giving a talk about this sort of thing, I might touch up this plugin so that I can recommend it. In fact, if you want to transfer it to me I'd be happy to maintain it.

[2016-01-12 22:18] hseeberger commented on #31
Aye, now you're an admin. Thanks for helping!

[2016-01-12 22:26] fommil commented on #31
oh darn, what have I done :smile:

actually this might be a good one-day task for somebody at the hack day on Saturday, if not my flight to Poland next week.

[2016-01-12 22:28] fommil commented on #23
@retronym did you ever get round to finishing this off? Sounds like something I'd be interested in too.

[2016-01-23 13:04] fommil opened #35 "integration with git history"
It would be great to have an option to generate the copyright years and names based on the github history. That section in the template notice could then become a placeholder, to be auto-generated.

This would be prone to errors, so it is likely that overrides (not captured by the history) and blacklists (dupes and bots) would need to be provided. This could perhaps be provided on a per file basis

[2016-01-23 16:36] fommil opened #36 "cppStyleLineComment doesn't work for files beginning with line comments"
when running sbt-header on `ensime-server`, none of the files with line comments are recognised and the new headers are always added.

All our files start with

[code]

[2016-01-23 16:42] fommil commented on #36
I just created a custom regex

[code]

[2016-01-23 16:51] fommil opened #37 "integration tests automation is broken"
Although the `automateFor` idea is nice, it unfortunately does not work because `settingsFor` will not be set for the `IntegrationTest` config. Nice try!

[2016-01-25 17:22] hseeberger commented on #37
It's not broken! You have to call `settingsFor` and `automateFor` for all configurations.
See https://github.com/hseeberger/reactive-flows/blob/master/build.sbt#L57.

[2016-01-25 17:30] fommil commented on #37
I think there might be a way to do this automatically, but it'll probably involve doing some trickery that I'm certain Josh and Eugene will yell at me for (it's possible to go "off graph" and call tasks / settings dynamically for any project and get its ivy configs...)

[2016-01-25 17:31] fommil commented on #37
maybe automateFor should also imply settingsFor ?

[2016-02-09 20:24] hseeberger opened #42 "Write LICENSE file to src/main/resources"
It would be nice if sbt-header would (maybe optionally) be able to write the LICENSE file to `src/main/resources`.

[2016-02-13 16:08] britter opened #44 "Derive configuration from project meta data"
At the moment, for using sbt-header I always have to add something like:

[code]

This feels redundant, since I've to copy the some block for all projects. So it would be nice if the plugin could derive it's configuration from the [project meta data](http://www.scala-sbt.org/0.13/docs/Howto-Project-Metadata.html):

- use `startYear` for the `yyyy` parameter
- use `organizationName` for the `copyri

[2016-02-13 19:33] fommil commented on #44
![is it worth the time?](https://imgs.xkcd.com/comics/is_it_worth_the_time.png)

[2016-02-14 08:49] britter commented on #44
@fommil so is this a "no"? :smile:

[2016-02-14 09:46] fommil commented on #44
I think it might be useful but the amount of time it'll save is not going to be particularly high. You'll need to provide all kinds of overrides so this will potentially end up complicating matters.

Be aware that the organisation suggestion is legally incorrect. Copyright is owned by whoever created the files, and in some countries cannot be transferred. Most github organisations are not legal en

[2016-02-14 10:57] britter commented on #44
@fommil I'm getting your point.

I think the comment style auto detection would be useful. Maybe we should just implement that. So implementing your proposal could look something like this:

[code]

with:

[code]

WDYT?

[2016-02-14 11:46] fommil commented on #44
Yeah, that's very useful! And people can pass in the `year` from the metadata if they have it, and you could potentially also provide a `URL => License` table lookup so that people can reuse their URLs.

[2016-02-14 14:46] britter commented on #44
Okay, I'll prepare a PR for the default comment style to file type mapping. :+1:

[2016-02-14 14:46] #44 closed

[2016-03-22 18:24] joprice opened #46 "Support for file exclusion"
Is there a way to exclude particular files from getting headers? The use-case is when a project needs to include a file taken from another project, which already has a header.

[2016-04-26 21:43] strobe opened #48 "any idea when next release of sbt-header will be available?"
I curious because my [sbt-fresh PR] (https://github.com/sbt/sbt-fresh/pull/20) depends on some functionality from master branch. I'd used self published Bintray artefact for that PR and it doesn't looks like nice approach.
Instead of using that self-publishing artefact I would like to use official release or snapshot version.

Is it any bugs or issues at sbt-header which is delaying a release? - m

[2016-05-22 18:07] saeta commented on #26
@hseeberger If I were to make a PR that implemented this, would it be merged in & a new release published? Or should we fork this project? Thanks!

[2016-05-31 06:38] FelAl commented on #35
I take it.

[2016-05-31 07:13] FelAl commented on #23
I can finish it.

[2016-06-02 22:46] polymorphic commented on #46
+1 I'm also interested in this feature which comes in handy when integrating source files covered by different licenses.

[2016-06-15 02:50] KMedhansh commented on #8
Hi Team,

I'm getting below error while managing jenkins.

javax.servlet.ServletException: java.lang.NoSuchMethodError: java.nio.file.Files.notExists(Ljava/nio/file/Path;[Ljava/nio/file/LinkOption;)Z

What you people are referring to some version 1.1.1? What exactly it is.

[2016-06-15 02:51] KMedhansh opened #49 "javax.servlet.ServletException: java.lang.NoSuchMethodError: java.nio.file.Files.notExists(Ljava/nio/file/Path;[Ljava/nio/file/LinkOption;)Z"
I'm getting the above issue while managing the jenkins.

I'm using jdk7.

[2016-07-01 20:51] #48 closed

[2016-07-02 19:31] britter commented on #49
Why do you think this has anything to do with sbt-header?

[2016-07-02 19:34] britter commented on #46
This is a duplicate of #30

[2016-07-02 19:40] britter commented on #42
It is pretty uncommon to have the LICENSE file under `src/main/resources`. The `src/main/resources` directory is for application resources (which the LICENSE file is not). Usually you put it in the top level directory so that anybody who need to know the license can see it.

Apache License even mandates to put the [LICENSE file in the top level directory](http://www.apache.org/dev/apply-license.ht

[2016-07-02 19:45] joprice commented on #46
Duplicates mean there's lots of interest, especially among the hastier of us. 😄

[2016-07-02 19:45] #46 closed

[2016-07-03 06:28] hseeberger commented on #42
I agree that it's uncommon, but you already explained the reason: it must be distributed.

Would be good to take a look at other sbt based projects (e.g. Akka) to understand how they deal with it.

[2016-07-03 12:09] hseeberger commented on #49
Unrelated

[2016-07-03 12:09] #49 closed

[2016-07-03 12:11] hseeberger commented on #42
All right, sbt-fresh 1.4.1 now (a) allows to specify a license and (b) writes the LICENSE file to the binary package (JAR).

[2016-07-03 12:11] #42 closed

[2016-07-03 14:46] britter opened #51 "Document how the sbt-header-test project works"
I'm working on a PR for #30 but I have no idea how the test project works. When I start sbt in the sbt-header-test folder I get:

[code]

[2016-07-03 15:23] britter commented on #51
I just came across the scripted test framework. Maybe it's a good idea to migrate to setup some tests using that.

[2016-07-05 15:45] hseeberger commented on #51
sbt-header-test ist just for playing. Adding scripted tests sounds like a good idea.

[2016-07-05 15:45] #51 closed

[2016-07-06 06:32] britter commented on #51
Awesome, I'll have a look into scripted test!

[2016-08-09 07:54] fommil commented on #35
@felal did you make any progress? :-)

[2016-08-20 11:15] #30 closed

[2016-08-20 12:23] fommil opened #56 "MalformedInputException"
when I upgraded sbt-header to the latest in ensime-server I got this exception.

[code]

should be easy to reproduce since everything is available on github.

Downgrading as workaround...

[2016-08-28 13:18] lunaryorn opened #57 "Task to verify the presence of headers?"
Is there a task to check whether headers are present and up to date?  That'd be handy for Travis CI and similar services, to catch pull requests that don't have proper headers in new files.

[2016-09-13 07:26] FelAl commented on #35
Not very much, but I'm going to fix it )

[2016-09-28 09:46] onnoll commented on #37
Hi there,
any update for this issue? any work around?
Thanks

[2016-09-29 01:36] fommil commented on #37
(waits for @onnoll to read the comments...)

[2016-11-08 04:16] danyaljj opened #58 "UnmappableCharacterException?"
We are using [sbt-header](https://github.com/IllinoisCogComp/saul/blob/master/project/plugins.sbt#L7-L8).
Upon running the code in Windows, we get `UnmappableCharacterException` (while it works fine in OSX). Any ideas?
More here: https://github.com/IllinoisCogComp/saul/issues/447

[2016-12-10 01:02] andyscott commented on #56
I am running into the same issue when our builds run on CI. Downgrading worked as a workaround.

[2016-12-25 17:43] imcharsi commented on #56
Hi.

At first, My English is not good. I'm sorry about that.

In my case, I see this error in Windows 10. But In Linux, It's fine without any modification.

I goggled about this and I think I found a solution(Thanks so much who wrote this).
Please refer to [here](http://stackoverflow.com/questions/13625024/how-to-read-a-text-file-with-mixed-encodings-in-scala-or-java).
I inserted below code into [

[2016-12-30 02:28] brendon- opened #59 "use of scope ThisBuild doesn't seem to work"
in a multiModule project you can use things like

scalaVersion in ThisBuild := [some-version]

which will apply to all submodules in the project

however, `headers in ThisBuild:=` does not seem to work.

[2016-12-30 05:33] hseeberger commented on #59
someSetting in ThisBuild only lets you override such settings which are not queried more specifically and already defined more specifically. For headers there is already a project level setting (for good purpose) and that will be used.

You can define common project settings once and assign it to multiple projects.

[2016-12-30 05:33] #59 closed

[2017-01-24 16:42] johno1985 opened #60 "Support for Play Twirl template files"
It would be nice to support commenting of Play Twirl template files

https://www.playframework.com/documentation/2.5.x/ScalaTemplates#Comments

[2017-01-31 07:41] dotta opened #62 "Releasing 1.6.1"
I'd love to use https://github.com/sbt/sbt-header/issues/30, but the latest release (1.6.0) doesn't seem to include the functionality. Would it be possible to cut a new release? \cc @fommil (as you contributed the feature, maybe you have also released it somewhere? :))

[2017-01-31 07:56] fommil commented on #62
I think heikko did that.

Btw you don't need to wait, you can put plugins into your project dir

[2017-01-31 10:08] dotta commented on #62
I've ended up adding the following in my `project/plugins.sbt`

[code]

Though, it'd really be better if a release could be cut :)

[2017-01-31 10:20] hseeberger commented on #62
Release 1.7.0 has arrived ;-)

[2017-01-31 10:20] #62 closed

[2017-01-31 10:27] fommil commented on #62
fyi @britter implemented it :smile:

[2017-01-31 10:36] dotta commented on #62
Whohooo! Thanks, Heiko!

@fommil Thanks for the note, and please forgive me @britter for not giving credit to the right person.

[2017-01-31 10:52] britter commented on #62
@dotta happy you like it!

[2017-02-12 12:11] britter commented on #60
@johno1985 I'm working on this, see #64. Which comment style do you prefer for license headers in twirl templates? Currently I've implemented block comments of the form:

[code]

An alternative would be to create them like this:

[code]

We could also make it configurable...

[2017-02-12 13:55] mrudnytskyi opened #65 "Headers for build definition"
First of all, thanks for this software! Can I use this plugin to add headers for files from `project` directory and `build.sbt`? I already created mapping for `sbt` files, but project definition stays untouched. Thanks!

[2017-02-12 14:41] hseeberger commented on #65
No, that is not possible.

[2017-02-12 14:41] #65 closed

[2017-02-12 15:23] britter commented on #58
@danyaljj I suspect it has something to do with the definition of `headerMsg` in your build file. Can you try changing the definition of the `headers` key to:

[code]

And see whether this works on Windows?

[2017-02-12 15:25] britter commented on #56
@fommil I wonder whether this is related to #58

@imcharsi thank you for your analysis. I'll have a look and see what we can do.

[2017-02-12 15:29] britter opened #66 "CI build on windows"
Currently the project is only build on Travis which runs builds in an Unix environment. #56 and #58 seem to be OS specific, so it would be good to have a CI build running on windows. [AppVeyor](https://www.appveyor.com) looks like the solution to go with.

[2017-02-12 17:40] danyaljj commented on #58
Actually we recently resolved it. @bhargav could you remind me what was the issue?

[2017-02-12 17:40] #58 closed

[2017-02-12 18:25] bhargav commented on #58
On Windows, we had to explicitly set the JAVA file encoding parameter to "UTF-8". Setting `-Dfile.encoding=UTF8" in JAVA_TOOL_OPTIONS env variable fixed the issue for us.

[2017-02-13 09:09] #57 closed

[2017-02-13 09:49] britter opened #68 "Header detection is broken on Windows"
See #67: The AppVeyor build fails, because sat-header detects that headers are missing on each file. It looks like the regex defined in HeaderPattern don't work. This may be caused by a bug in sbt-header. Currently I suspect that the [line ending configuration](https://help.github.com/articles/dealing-with-line-endings/) of the git client on AppVeyor may cause the problem. Needs investigation, I p

[2017-02-13 12:07] johno1985 commented on #60
Hi @britter, I think we would prefer the latter. But it may be a good idea to make this configurable for other consumers.

[2017-02-15 07:32] nrinaudo opened #69 "Add headers to managed sources"
The current plugin "only" adds / updates headers on unmanaged sources.

It would be nice if it dealt with managed sources as well, at least optionally - I'm using sbt-boilerplate to generate some boilerplate code, and would love for the generated code to have proper headers. I can probably already get something working, by playing with `unmanagedSources in createHeaders` and updating the supported

[2017-02-15 08:05] britter commented on #69
@nrinaudo I'm currently working on #64 where I also need to have additional files processed (in my case Twirl templates). Currently I'm planning to add some documentation on how to add those files in the user build:

[code]

In the twirl case there is no other way to support this, because we would have to define a dependency to Twirl in order to use `TwirlKeys` from inside sbt-header. I think it's

[2017-02-15 08:07] #66 closed

[2017-02-15 08:09] britter commented on #31
@fommil I don't see us ever fixing this... Okay to close this?

[2017-02-15 08:24] fommil commented on #31
Yeah. Ensime is now java 8

[2017-02-15 08:24] #31 closed

[2017-02-15 12:42] nrinaudo commented on #69
@britter This makes sense. In my specific use case, I'm probably going to run sbt-header on the boilerplate templates rather than on the output Scala files, but yes, it's probably better not to force sbt-header on managed sources.

As far as I'm concerned, this issue can be closed - I have a solution for my use case, and understand how my proposed solution might be more damaging than helpful, at l

[2017-02-15 12:48] britter commented on #69
@nrinaudo maybe we can add your solution for sbt-boilerplate templates to README.md?

[2017-02-15 15:53] nrinaudo commented on #69
Sure, as soon as I've put something together, I'll show you and, if you like it, I'll make a PR on the README.

[2017-02-15 16:22] britter commented on #69
Yes, that would be awesome!

[2017-02-15 16:22] #69 closed

[2017-02-15 20:20] nrinaudo commented on #69
It's not the most complicated (not the most beautiful) thing in the world:

[code]

This adds `src/{conf}/boilerplate/**.scala` in the list of files handled by sbt-headers for `conf`, where `conf` is either `Compile` or `Test`.

[2017-02-17 08:05] britter commented on #68
See also #58

[2017-02-18 14:07] #68 closed

[2017-02-18 15:45] britter commented on #60
@johno1985 please have a look at #72

[2017-02-19 13:19] britter opened #73 "Auto detect license from `licenses` project setting"

[2017-02-19 13:21] britter opened #74 "Move stuff out of HeaderPlugin.scala"
Currently there is a lot of stuff inside HeaderPlugin:

- AutomateHeaderPlugin
- CommentStyleMapping
- HeaderKey
- HeaderPattern
- HeaderPlugin

Decide what really belongs to HeaderPlugin and move the rest out of the file

[2017-02-19 13:22] britter opened #75 "Leverage the type system better"
Currently everything seems to be a tuple of map of Strings. This is hard to understand. Define some types or at least type aliases.

[2017-02-19 13:23] britter opened #76 "Remove/rename exclude setting"
exclude is to generic as a name for a sbt setting and is likely to clash with other plugin settings. Further more, sources collections in sbt can be filtered using the build in mechanisms of sbt. Maybe we don't need the exclude setting at all.

[2017-02-19 13:24] britter opened #77 "Separate creation of a comment block from license texts"
Since the license trait takes care of creating the header block using a comment style, it is not easily possible for users to reuse license texts with custom comment styles. We should separate the license texts from the creation of header blocks.

[2017-02-19 13:26] britter opened #78 "Model comment styles as ADT"
In `Lincense`, we match over the comment style, which is defined as a string. Since there is only a number of supported comment styles, we should model them as an ADT.

[2017-02-19 13:29] #60 closed

[2017-02-19 13:36] britter opened #79 "Restructure documentation"
The documentation has evolved over the time sat-headers exists. We should make the documentation more accessible starting with the most easy configuration and explaining customization (like defining custom header texts) later on.

[2017-02-19 15:46] britter commented on #76
See http://www.scala-sbt.org/0.13/docs/Howto-Customizing-Paths.html#Include%2Fexclude+files+in+the+source+directory

I think one should be able to define excludes like this:

[code]

We should remove the `exclude` setting for 2.0.0 and add some documentation on how to define excludes.

[2017-02-20 08:06] hseeberger commented on #74
Most of this is addressed in branch v2.

[2017-02-20 08:06] #74 closed

[2017-03-02 10:59] johno1985 commented on #60
Thanks @britter

[2017-03-08 13:50] #78 closed

[2017-03-10 08:20] #77 closed

[2017-03-10 10:19] britter opened #86 "Change settings to comment styles per file type but only one license."
Follow up to #85. Currently we define the License per file type using the `headers` setting:

[code]

This is pretty redundant because usually one will only use one license per project. We should change the way settings are defined to:

[code]

This way the above configuration will become:

[code]

After this we can implement auto detection for license from project settings as well as sensible def

[2017-03-11 18:24] #86 closed

[2017-03-12 11:51] #76 closed

[2017-03-13 16:58] britter opened #90 "Add XML comment style"
sbt-header currently does not support XML block comments. We should add an XML comment style. Note that XML has header line which needs to be preserved. So the code which detects shebangs in `HeaderCreator` needs to be made more generic. I propose to make the header line an optional property of CommentStyle. The HashbangLineComment style would detect shebangs, while the XmlBlockComment style would

[2017-03-15 08:48] britter opened #91 "Rename Apache2_0 license to ALv2"

[2017-03-15 09:01] britter opened #93 "Refactor Licenses"
- Make Licenses trait an object
- Rename Licenses to License
- Make License implementations objects with an apply method

[2017-03-15 09:27] #73 closed

[2017-03-15 12:19] britter opened #95 "File type -> CommentStyle default mappings"
It should not be necessary to specify which comment style to apply to common file types such as *.scala or *.java files. We should define a default value for `headerMappings` setting

[2017-03-15 12:38] #91 closed

[2017-03-16 09:48] #95 closed

[2017-03-19 12:24] britter opened #101 "Make optional first line (e.g. shebang) a property of file type"
Currently the HeaderCreator know about shebang lines and how to preserve them. However the fact that there may be a first line is really a property of a file type and not of the header creator. In order to implement #90 we need to make this more generic. So I propose to introduce a file type:

[code]

The `headerMappings` setting would have to be changed to:

[code]

This will also contribute to #

[2017-03-20 09:41] #93 closed

[2017-03-27 18:57] britter opened #103 "Can't use scala.html as file extension for selecting Twirl templates"
It is not possible to use `scala.html` as file extension for selecting Twirl template. `html` does work but will also select plain HTML files.

[2017-03-27 19:00] #75 closed

[2017-04-04 09:17] sirthias opened #105 "Source files are sometimes read and written with differing charsets"
sbt-header reads source files with the system's default charset and writes them with UTF-8.
If there is a mismatch between the two sbt-header messes up the files original encoding.

[2017-04-04 14:07] britter commented on #105
I wonder whether this is related to #56...

[2017-04-04 14:11] sirthias commented on #105
Yes, might well be.
Thanks for looking at this patch, Benedikt.

Do you already have a rough date for the next release planned?

[2017-04-04 14:17] britter commented on #105
The only thing I need to finish for 2.0.0 is #90 and #99. I've a working implementation of #90 on my machine but the scripted tests do not work and I can't figure out why. I'll need some time to investigate that. After that's done I can ask @hseeberger to release 2.0.0.

[2017-04-04 14:20] #105 closed

[2017-04-04 14:27] sirthias commented on #105
Ok, great!
Thanks for your work here! It really is appreciated!

[2017-04-04 14:28] britter commented on #101
Fixed in #102

[2017-04-04 14:28] #101 closed

[2017-04-10 17:02] britter opened #108 "Don't create FileInputStream"
We should better use Files.newInputStream instead. See https://www.cloudbees.com/blog/fileinputstream-fileoutputstream-considered-harmful

[2017-04-19 13:24] fommil commented on #56
still getting this with sbt-header 1.8.0 on our CI, but not locally. very weird.

[2017-05-08 19:22] britter commented on #103
@hseeberger do we need this for 2.0.0?

[2017-05-08 19:23] britter commented on #90
Fixed in #107

[2017-05-08 19:23] #90 closed

[2017-05-08 19:23] hseeberger commented on #103
Don't think so.

[2017-05-08 19:24] britter commented on #56
@fommil I suspect your CI server is running a different OS? Which one?

[2017-05-08 19:41] fommil commented on #56
@britter docker running Debian Jessie

[2017-05-09 18:51] hseeberger opened #109 "Do we need build.properties with sbt 0.13.11 for play-twirl scripted tests?"
If not, let's remove it and thereby speed up the tests.

[2017-05-09 18:51] hseeberger commented on #109
@britter should know ...

[2017-05-10 09:48] britter commented on #56
@fommil should be easy to reproduce if you're running docker, but I don't have the cycles at the moment to work on this. I'll try to have a look when I have some more time for sat-header again.

[2017-05-10 10:07] britter commented on #79
Fixed in #99

[2017-05-10 10:07] #79 closed

[2017-05-10 10:11] #108 closed

[2017-05-10 12:22] britter commented on #109
Let's just give it a try. See #111

Looking at the build log, I can see locally that it always downloads set 0.13.13. Maybe this is a scripted default?

[2017-05-26 09:46] francescofrontera opened #114 "HeaderCheck - Stack trace suppress - SBT Multi module project"
Hi,
I'm trying to use Sbt-Header with a sbt multimodule project, but i'm having  a `java.lang.RuntimeException: There are files without headers!` but the files(.scala,.xml) actually contains header.
The stacktrace is:
[code]

[2017-05-26 13:14] britter commented on #114
Hi!

Are you using the latest version of sbt-header (2.0.0)? We had a bug in C++ comment style before 2.0.0.

If you run headerCreate, does it change your files? Maybe it adds an empty line between the header and the file contents.

I'm currently on vacation so I can not really assist until June.

[2017-05-26 13:15] britter opened #115 "AppVeyor build is broken"
Do we fix it? So we remove it?

[2017-05-26 15:48] hseeberger commented on #115
I was never fond of it, so if you would like to remove it, let's get rid of it.

[2017-05-29 09:32] mkurz opened #116 "Suppress newLine after header comment"
Using
[code]
or
[code]

both results in:

[code]

**How to supress the empty line between the header comment and the package declaration?**

[2017-05-29 10:12] hseeberger commented on #116
I think that's not possible.

[2017-05-29 10:18] mkurz commented on #116
This was possible in v1.8 but not in v2.0 anymore...

Wouldn't it be possible to *not* add the new line if there will be a body after the header? At least with an setting?

[2017-05-29 10:20] hseeberger commented on #116
A `headerEmptyLine` setting of type `Boolean` sounds like a nice idea. Feel free to create a PR.

[2017-05-29 13:13] mkurz commented on #116
@hseeberger see #117

Could you cut a new release after merging #117? Thanks!

[2017-06-05 05:46] britter commented on #114
@francescofrontera we need more input to analyze this problem.

[2017-06-05 06:13] #115 closed

[2017-06-05 06:14] #109 closed

[2017-06-05 07:43] francescofrontera commented on #114
@britter The problems was due to the lack of spaces at the beginning of the  custom header.
Thanks for your supports.

[2017-06-05 07:43] #114 closed

[2017-06-15 09:36] jvican opened #119 "Release plugin for sbt 1.0.0-M6"
Examples:

* https://github.com/ktoso/sbt-jmh/pull/117
* https://github.com/lucidsoftware/neo-sbt-scalafmt/pull/11

[2017-06-15 09:37] hseeberger commented on #119
Won't before sbt 1.0 reaches RC status.

[2017-06-15 09:37] #119 closed

[2017-06-15 09:39] jvican commented on #119
There are already plugins doing so -- see description of issue. The reason I ask for this is because we plan to use sbt 1.0.0-M6 in Zinc and we depend on this plugin.

[2017-06-15 09:46] britter commented on #119
I currently don't have time to work on this. @hseeberger how would you feel about making this happen, if somebody prepares a PR for this?

[2017-07-25 16:15] jvican commented on #119
Can't this be reopen? RC2 is already out.

[2017-07-25 16:48] hseeberger commented on #119
I tried, but too many dependencies which aren't yet on 1.0 :-(

[2017-07-28 14:44] julianheres commented on #56
Ran into this on Ubuntu Server 17.04. Sorted it out by re-configuring the locales: 'dpkg-reconfigure locales' and setting es_CO UTF-8 (my locale) in addition to en_US UTF-8 (US Locale). Hope it helps!

Cheers.

[2017-08-15 14:46] ferhtaydn opened #124 "automateHeaderSettings(IntegrationTest) does not trigger with it:compile"
Hi,

I am trying to automate header generation (with project-auto plugin) on compile task. After `compile` and `test:compile` tasks, headers are generated for corresponding files but not in `it:compile`. Do you have any idea?

[code]

[code]

[2017-08-16 13:28] ferhtaydn commented on #124
The problem is solved, we need to give `Defaults.itSettings` also on your `projectSettings`. I created a sbt-header-seed repo to show automate functionality.

https://github.com/ferhtaydn/sbt-header-seed

Thanks,

[2017-08-16 13:28] #124 closed

[2017-09-09 17:46] krchniam opened #127 "HeaderCreator leaking file descriptors"
Hi,
recently we were having serious troubles using sbt-header plugin on Windows 10 with git. Especially with enabled `AutomateHeaderPlugin`. While running SBT almost every operation with git failed (pull, revert, rebase) with odd errors about unable to unlink old file. You have to turn SBT off, then execute git operation and then turn SBT back on to continue development (which is pretty annoying).

[2017-09-10 05:38] hseeberger commented on #127
Thanks for reporting and analyzing. PR very welcome.

[2017-09-11 11:59] #127 closed

[2017-09-13 09:40] drewhk opened #129 "The 3.0.1 version fails to close files properly"
This leads to various issues on Windows:
 - chopped files, as Windows caches more aggressively and not-closing means last chunks might be unflushed
 - IntelliJ freaks out continuously as it cannot auto-save files, since the plugin keeps them open. On windows only one process is allowed to write to a file at the same time.

[2017-09-13 09:42] drewhk commented on #129
Some variant of this bug seems to exist on 2.0.0 as well, although not sure if it is the same.

[2017-09-13 09:44] hseeberger commented on #129
Duplicate of #127?

[2017-09-13 09:47] hseeberger commented on #129
@drewhk just released v3.0.2 which should fix this: please give it a try. And of course don't use Windows ;-)

[2017-09-13 09:51] drewhk commented on #129
Windows is only relevant here because it exposes the issue much quicker ;)

[2017-09-13 09:51] drewhk commented on #129
yes, seems duplicate, but I give the new version a try first.

[2017-09-20 19:04] jamesward opened #130 "Recommended Filter Setting Mucks with Build"
If I set this:
[code]
Then `compile` no longer compiles those files.

There should be a way to exclude stuff without messing with the other tasks.

[2017-09-20 19:35] hseeberger commented on #130
Agreed. Also, the docs are wrong, nested scoping has no effect.

[2017-09-25 11:06] drewhk commented on #129
Is it published, or I need to build it locally?

[2017-09-25 13:19] britter commented on #129
@drewhk see https://bintray.com/hseeberger/sbt-plugins/sbt-header/3.0.2

[2017-09-27 15:52] SethTisue commented on #119
how about now...?

[2017-09-29 06:07] Abrasha opened #133 "Unresolved dependencies: de.heikoseeberger#sbt-header;3.0.2 not found"
Environment details:
- sbt.version = 0.13.16
- java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)
- javac 1.8.0_144
- Scala code runner version 2.12.3 -- Copyright 2002-2017, LAMP/EPFL and Lightbend, Inc.

I am trying to add sbt-header to my project to keep copyright headers up to date, but I am unable to

[2017-09-29 06:10] Abrasha commented on #133
Suddenly, the issue fixed by upgrading sbt version to 1.0.2.

So another question: how can I use this plugin with sbt version 0.13.16?
I am trying to add sbt-header plugin to [Scala main repository](https://github.com/scala/scala) in scope of https://github.com/scala/bug/issues/10531.

[2017-09-29 08:25] hseeberger commented on #133
My fault, I forgot to cross-publish. Done now. Thanks for reporting.

[2017-09-29 08:25] #133 closed

[2017-10-04 08:21] drewhk commented on #129
Seems to work, I will report back if something is off.

[2017-10-04 08:21] #129 closed

[2017-10-04 19:54] djspiewak opened #135 "Make line separator configurable"
Yes, this is a Windows issue.  :-(

It's relatively common on projects to standardize on Unix line endings even when doing development on Windows, mostly for the sanity of all involved.  sbt-header *mostly* handles this in a reasonable way in every respect except for the fact that it appears to constantly try to recreate headers.  The detection hard-codes `System.lineSeparator()` as the expected l

[2017-10-05 05:06] hseeberger commented on #135
PR welcome, Daniel ;-)

[2017-10-12 10:46] deeplook opened #136 "Silent mode for `headerCreate`? (feature request)"
I'm using the `AutomateHeaderPlugin` to create/update headers with every compile. Given that this always reports all touched filenames in the output leads to additional clutter in log files when running in CI. A nice-to-have feature would be to have a silent mode which reports only a summary like the number of touched files. I _think_ `scalafmt` is doing something like that.

[2017-10-18 10:07] fommil opened #137 "please unseal the CommentStyle"
I would like to use this, but I cannot

[code]

can you please unseal in the next release? Unless you are matching over the ADT there is no point in sealing.

[2017-10-18 10:25] fommil opened #138 "settingsFor docs wrong?"
Or am I being stupid?

[code]

[2017-10-18 10:27] fommil commented on #138
should this be as follows?

[code]

[2017-10-18 10:35] fommil opened #139 "line comments without blank line are ignored?"
in sbt-header 1.x I was using headers that look more or less like this...

[code]

but the latest `sbt-header` with `CppStyleLineComment` is not detecting this as a header and is then prepending the new header, resulting in

[code]

I suspect it is the newline to blame... is there a workaround for this? Having support for no trailing newline would be good, if that is what is missing.

[2017-10-18 10:38] fommil commented on #139
because of #137 I don't think I can workaround this :cry:

[2017-10-18 18:27] britter commented on #139
Is this related to #116?

[2017-10-18 19:40] britter commented on #139
Currently sbt-header forces a new line between comment and body. This is probably not the best thing to do, so #117 is an approach to fix this. Unfortunately the contributor lost interest and the PR was never finished.

[2017-10-18 19:43] britter commented on #137
I don't think we should be doing this. The following configuration should be enough for the use case you described in #139:

[code]

Of corse we would have to fix #117 in order to create headers without new line between comment and body.

[2017-10-18 21:22] fommil commented on #139
you're quite right, this is a dumb dupe!

[2017-10-18 21:22] #139 closed

[2017-10-18 21:24] fommil commented on #137
I don't think that's enough... my matchers allow for line comments beneath the lines that I care about. I would typically use this when I want to have custom copyright information there.

[2017-10-21 16:26] britter commented on #137
I don't understand your use case. Do you have some files which start with `// Copyright: ` but then have something different from `2017 https://gitlab.com/fommil/stalactite/graphs`?

[2017-10-21 16:50] fommil commented on #137
yes, exactly. Typically when I've copied some code from elsewhere and am required to include their headers by their terms.

[2017-10-23 06:41] britter commented on #137
Looking at `CommentStyle` again, I don't understand why I decided to configure it using inheritance. It would be enough to have:

[code]

This way you could simply instantiate a `SimpleCommentStyle` with the configuration you need. Would that work for you?

[2017-10-23 08:10] fommil commented on #137
sounds good!

[2017-10-31 18:08] ignasi35 commented on #56
**TL;DR** the default encoding picked by the JVM executing `sbt` is not your file encoding. Test using `System.getProperty("file.encoding")`.

We use `1.8.0` in Lagom and everything worked like a charm. Today I upgraded IntelliJ from 2017.1.x to 2017.2.5 (on an MBP) and then upgraded the scala plugin in IntelliJ to 2017.2.11 which includes support for sbt 1.0.

After opening the Lagom project in t

[2017-11-02 07:06] britter commented on #56
@hseeberger maybe we should put a section about this problem into README.md.

[2017-11-02 09:23] hseeberger commented on #56
Happy to accept a PR.

[2017-11-14 09:05] #137 closed

[2017-11-14 09:31] fommil commented on #137
thank you @britter !

[2017-11-17 19:19] trobert commented on #137
Is it possible to also unseal `CommentCreator` ? Otherwise it's still impossible to define a custom style.
(As a workaround, one can probably use `IdentityCommentCreator` and include the comments in the license text)

[2017-11-17 21:57] hseeberger commented on #137
OMG! This is a can of worms ;-)

@britter, what do you think?

[2017-11-22 16:31] fommil opened #143 "where is v4.0.0?"
I see tag v4.0.0 but sbt doesn't find it for 0.13.x... was it only released for sbt 1.0?

[2017-11-22 16:43] hseeberger commented on #143
Are people still using 0.x?

[2017-11-22 16:51] fommil commented on #143
until the zinc performance regressions are fixed, most projects simply can't upgrade.

[2017-11-22 17:06] hseeberger commented on #143
OK, released for 0.13.

[2017-11-22 17:06] #143 closed

[2017-11-22 17:44] fommil commented on #143
Thanks! Good news with 1.0 is that we found the cause and it's fixed in the release branch. Hopefully 1.0.4 will be usable.

[2017-11-22 20:35] fommil commented on #139
@britter I'm trying out 4.0.0 with this

[code]

but it's not detecting my license text that looks like

[code]

is there something I'm missing about what the `Regex` is supposed to extract?

[2017-11-22 22:33] fommil commented on #139
every time I run `createHeaders` with this comment setup, it adds another newline between the existing header and the code.

[2017-11-24 02:19] andrewdbate opened #144 "Typo in README"
The sentence
"If you don't want to use one of the **build in** licenses"
should read
"If you don't want to use one of the **built-in** licenses".

[2017-11-24 07:55] #144 closed

[2017-12-15 14:21] rhpvorderman opened #145 "Cannot get headerMappings to be overwritten in my autoplugin"
# Code
[code]

# Expected behavior
headerCreate and headerCheck pick up these files in `src/main/resources`
It works when the `headerMappings` code is applied directly to the build.sbt

# Observed behavior
The default `headerMappings` value is chosen on projects using the plugin.

I have tried and tried and tried. But everything failed. Including using the header-seed repository as an example
http

[2017-12-26 10:33] britter commented on #136
@hseeberger maybe it's possible to pass some [`Marker`](https://logging.apache.org/log4j/2.0/manual/markers.html) when writing log messages to that users can simply turn off all log messages from this plugin?

[2017-12-26 12:59] hseeberger commented on #136
I don't know ...

[2017-12-28 10:42] davidmweber opened #146 "Headers for test files not updated"
Using the most basic setup, `sbt headerCreate` only updates the files in `Compile` (src/main), not `Test` (src/test) . If you use `enablePlugins(AutomateHeaderPlugin)` then the test files are updated as expected. The project located at  https://github.com/8eo/boris/blob/header-update/build.sbt exhibits this behaviour. Steps to replicate:

- Clone the repository at `git@github.com:8eo/boris.git` an

[2017-12-28 11:22] hseeberger commented on #146
Thanks for the thorough description. Yet this is expected behavior.

Not sure how familiar you are with sbt, but most tasks (like headerCreate) can be scoped, e.g. to a configuration like `compile` or `test`. And, if you omit the configuration, `compile` will be used as a default.

So essentially what you are doing is: `sbt compile:headerCreate`.

And I bet, that if you run `sbt test:headerCreate`

[2017-12-28 11:22] #146 closed

[2017-12-28 11:23] davidmweber commented on #146
Ah!! Missed that subtlety! Much appreciated.

[2018-01-11 22:49] richdougherty commented on #58
This issue occurs during the Play Framework build. Issue created here: https://github.com/playframework/playframework/issues/8150

[2018-01-18 10:44] xeppaka opened #148 "ThisBuild / headerLicense doesn't work"
Hi, I'm quite new to sbt and possibly getting things in a wrong way.
I have a multi-project build and put license configuration in that way considering it should apply to all subprojects:

`ThisBuild / headerLicense := Some(HeaderLicense.Custom(
  """Copyright © 2007 - 2018, Blah blah. All rights reserved.
    |""".stripMargin))`

However for each subproject it throws error:
`(configuration-comman

[2018-02-09 08:33] nrinaudo opened #149 "headerCheck and headerCreate use different source directories"
It seems that in recent versions, `headerCheck` and `headerCreate` do not use the same `unmanagedSources` setting, which results in scenarios where `headerCheck` fails but `headerCreate` cannot fix the problem.

After running a quick investigation, this diff looks suspicious:
* [3.0.x](https://github.com/sbt/sbt-header/blob/23cfdf443ec8fa564cef502768580263b86fad3a/src/main/scala/de/heikoseeberger/

[2018-02-09 15:00] hseeberger commented on #149
That indeed seems to be a bug. PR, please ;-)

[2018-02-09 15:04] hseeberger commented on #149
That was my "Code Cleanup" commit #132 😂

[2018-02-09 15:20] nrinaudo commented on #149
[PR created](https://github.com/sbt/sbt-header/pull/150). We've all done "code cleanups", I know the feeling :)

[2018-02-09 15:50] #149 closed

[2018-02-15 14:07] rhpvorderman commented on #145
Solved it. Turns out unmanagedResources are not watched by default
[code]

[2018-02-15 14:07] #145 closed

[2018-02-20 08:09] #130 closed

[2018-02-23 10:07] mkurz commented on #116
I am closing this because it's not an issue any more for me. See https://github.com/sbt/sbt-header/pull/117#issuecomment-367388250
Feel free to open a new issue or re-open this one here if you think that should be implemented.

[2018-02-23 10:07] #116 closed

[2018-03-05 09:59] dragos opened #153 ""Unable to auto detect project license" on aggregate project"
I'm trying to upgrade to Sbt 1.0 and sbt-header version 1.7.0. I can't run `headerCheck` anymore because it crashes with:

[code]
It would be good to tell me what project it is, but my guess is that this is the `root` aggregate project (as I'm setting project-specific settings for each subproject). I don't have any sources in `root`, so what's the proper solution to get past this? I don't want to

[2018-03-05 10:43] hseeberger commented on #153
What about setting `headerLicense : = None` in the root project?

BTW, please upgrade to 5.0.0.

[2018-03-05 11:16] dragos commented on #153
I am on 5.0.0 and `HeaderLicense` is indeed `None` already.

[2018-03-05 11:18] hseeberger commented on #153
Is it `None` for all projects (root and subprojects)?

[2018-03-05 11:22] dragos commented on #153
No, the subprojects each have a `headerLicense`, but the root project is just a convenience and has no sources. It's not a standard license, it's a proprietary one. I got past this by adding the same `headerLicense` to `root`, but I thought setting it to `None` should be enough.

[2018-03-05 11:35] hseeberger commented on #153
Yeah, using `None` should work. Do you have a reproder?

[2018-03-07 09:25] dragos commented on #153
Sure, here it is:
[code]

There's nothing else in there except the `plugins.sbt` with sbt-header coordinates.

Then this happens:

[code]

[2018-03-07 14:47] hseeberger commented on #153
@britter could you take a look, please? For some reason ther root project complains "Unable to auto detect project license" although `headerLicense` is set to `None`.

[2018-03-07 16:38] britter commented on #153
I'll try to have a look on friday

[2018-03-16 09:59] dwijnand commented on #23
note for people subscribed here that progress was made here by way of #142.

and sbt-header is now used by the akka and akka-http projects:
* https://github.com/akka/akka-http/pull/1738
* https://github.com/akka/akka/pull/24715.

[2018-03-16 10:02] dwijnand commented on #35
just for reference here's some code attempting to fix this problem:

* https://github.com/scala/scala/pull/5201/commits/71b38e6427be39add62bd8b04e88940b8da78450
* 	https://github.com/scala/scala/pull/5145/commits/8b8f93a5edba6fcb8271dca98a2f7ecf93c3ce8c

[2018-03-21 21:53] jamesward opened #155 "Provide an Option to Use the Short SPDX-License-Identifier Syntax"
The new cool way to specify the license is with a machine-readable `SPDX-License-Identifier` line:
https://spdx.org/sites/cpstandard/files/pages/files/using_spdx_license_list_short_identifiers.pdf

Like:
[code]

[2018-03-23 09:24] raboof opened #156 "Double newline after header"
Currently https://github.com/sbt/sbt-header/blob/master/src/main/scala/de/heikoseeberger/sbtheader/CommentStyle.scala#L31 forces an empty line between the header and the actual file. For Java/Scala files like:

[code]

that doesn't necessarily make sense. It might make sense to move one of the newlines to the `CommentCreator` instead?

[2018-03-23 09:34] britter commented on #156
This has been suggested before, see #117. It was never completed...

[2018-03-23 09:51] raboof commented on #156
OK, to summarize that thread it seems you'd still be interested in this feature, if we can pull it off without introducing too much additional complexity?

[2018-03-23 10:40] hseeberger commented on #156
Yeah, if you can keep it really simple. It‘s just an empty line after all ...

[2018-03-25 09:50] britter commented on #155
Can you give an example of how you'd like to use this with sbt-header? Currently we detect the license from the `licenses` setting.

[2018-03-26 12:59] jamesward commented on #155
This is just a different style for indicating the license in the header.  You can see an example here:
https://github.com/salesforce/dr-cla/blob/master/app/controllers/Application.scala

But to do this I had to manually specify the template:
https://github.com/salesforce/dr-cla/blob/master/build.sbt#L53-L61

I'd be nice if there was a way to easily use this syntax with sbt-header.

[2018-03-26 13:08] hseeberger commented on #155
Hey @jamesward, that would be a nice contribution ;-)

[2018-03-26 13:09] britter commented on #155
Okay, so you would like to have a boolean switch to turn on SPDX-style headers?

[2018-03-26 13:15] jamesward commented on #155
Yeah, I think a custom setting like `licenseHeaderStyle` would be sufficient.

[2018-04-22 21:10] #148 closed

[2018-04-23 11:38] timaschew commented on #153
Is this project still alive?

I have the same issue, can't use the plugin at all.

[2018-04-23 12:31] britter commented on #153
I don't have the time to look into this at the moment. Help in analysis or even PRs to fix this are welcome.

[2018-08-27 13:50] #37 closed

[2018-08-27 13:51] #35 closed

[2018-08-27 13:52] #56 closed

[2018-08-27 14:04] #138 closed

[2018-09-19 19:27] nishanpatel commented on #56
I don't know whether this is plugin issue or sbt issue. I tried all possible solutions found in google but I am still facing the same issue.

java.nio.charset.UnmappableCharacterException: Input length = 1
        at java.nio.charset.CoderResult.throwException(CoderResult.java:282)
        at sun.nio.cs.StreamDecoder.implRead(StreamDecoder.java:339)
        at sun.nio.cs.StreamDecoder.read(StreamD

[2018-09-20 06:56] britter commented on #56
@nishanpatel can you please provide a minimal sample project for reproducing the error?

[2018-09-20 08:16] fommil commented on #56
better yet, please create a fresh ticket.

[2018-09-20 19:15] nishanpatel commented on #56
I am using below project to run in my local machine with following configurations, Windows 10, Scala version 2.12.6, java version 1.8.0_161 and SBT version 1.2.1.

[Project](https://github.com/scala-exercises/scala-exercises)

[2018-09-20 19:32] nishanpatel opened #160 "[error] (coreJVM/compile:createHeaders) java.nio.charset.UnmappableCharacterException: Input length = 1"
Hi Team,

I am using below project to run in my local machine with following configurations, Windows 10, Scala version 2.12.6, java version 1.8.0_161, SBT version 1.2.1 and IntelliJ IDEA.

[Project](https://github.com/scala-exercises/scala-exercises
)

I tried following options,

- Tried with all version of SBT(1.2.3, 1.0.x and 0.13.x)

- Tried with scalacOptions ++= Seq("-encoding, UTF-8")

I hav

[2018-09-20 19:34] nishanpatel commented on #56
Hi @britter @fommil thanks for your time. I have created new issue with all the details.

[UnmappableCharacterException Exception](https://github.com/sbt/sbt-header/issues/160)

[2018-09-21 09:54] nishanpatel commented on #160
Thanks @britter but no idea and looks like it is encoding issue.

[2018-09-26 14:00] nishanpatel commented on #160
The work around works for me.

GOTO SBT setup --> conf --> Edit sbtconfig.txt --> added -Dfile.encoding=UTF8

Happy to close the issue.

[2018-09-26 14:00] #160 closed

[2018-10-04 16:29] helena commented on #153
@dragos @hseeberger I ran into this as well running `sbt headerCreate`, and fixed it by adding
`licenses += (...)` to my root project in a multi-module. The issue was raised when I only had it in settings for the lib modules.

[2018-10-04 21:53] hseeberger commented on #153
@helena thanks for picking this up.

If we choose to set `headerLicense := None`, which is the default (!), then the plugin tries to be smart and auto-detect the license from the standard `licenses` setting. If this is empty, which again is the default (!), we are f...ed (to speak with Tyrion Lanister).

Maybe the semantics should be changed: instead of failing we could simply not check/create hea

[2018-10-04 21:54] hseeberger commented on #153
@timaschew thanks for your very motivating comment, this is what makes working on open source software real fun.

[2018-10-05 11:01] hseeberger commented on #153
@lucasbru PR welcome

[2018-10-05 14:21] helena commented on #153
I suggest not raising an exception in de.heikoseeberger.sbtheader.HeaderPlugin if the plugin is added to an SBT project but not explicitly added to a particular module. For example, requiring sbt.Keys.licenses in a root module, which may not be published or used, seems out of scope of a plugin and more in the realm of SBT usage. But if one explicitly ads sbt.Keys.licenses as noted in the [README](

[2018-10-13 08:37] hepin1989 opened #161 "headerCheck return no header"
for this kind of
[code]

[2018-10-13 08:46] hepin1989 commented on #161
Refs: https://github.com/akka/akka/pull/25780

[2019-01-15 11:49] Synesso opened #163 "It's 2019. headerCreate/Check insists on using 2018."
[This PR](https://github.com/akka/akka-http/pull/2193) had a build failure because headerCheck insists 2009-2019 is invalid. I ran headerCreate and it reverted to 2018.

[2019-01-15 12:35] Synesso commented on #163
Thank you, yes.

[2019-01-15 12:35] #163 closed

[2019-02-01 21:17] dwijnand commented on #156
I've opened https://github.com/sbt/sbt-header/pull/164 to see if I can help fix this.

[2019-02-02 10:39] #156 closed

[2019-03-01 14:32] jhoncamargo commented on #155
@hseeberger @britter I'd like to work on this. How can I start?

[2019-03-12 09:23] #155 closed

[2019-07-31 12:47] 2m opened #168 "Possible performance issue"
I have configured sbt-header to create headers on every compile. With the new sbt 1.3.0-RC3 super shell, which displays actively running tasks, I can see that the `headerCreate` task shows up quite often. For example it takes around 3-4 seconds in `headerCreate` task under various scopes until sbt starts compiling sources.

Could the performance be improved by introducing incremental cache for fil

[2019-07-31 13:38] hseeberger commented on #168
Thanks a lot for this observation. I guess a cache would indeed help. PRs welcome.

[2019-08-27 13:08] co-category opened #169 "Is there a way to remove headers once created or even update them?"
I would like to update my header but there are a lot of source files.

[2019-08-27 15:09] co-category commented on #169
After running sbt clean, the headers were regenerated.

[2019-08-27 15:09] #169 closed

[2019-11-28 07:54] hseeberger opened #173 "New caching feature seems to err out when deleting files"
After deleting a file and reopening the project I got this:

[code]

[2019-11-28 07:54] hseeberger commented on #173
@johanandren FYI

[2019-11-28 08:51] johanandren commented on #173
Dang, is that still with 5.3.1, I thought that was exactly what I fixed (and covered with a scripted test)

[2019-11-28 08:58] hseeberger commented on #173
Oops, wait a moment ...

[2019-11-28 08:58] hseeberger commented on #173
Sorry, that was 5.3.0.

[2019-11-28 08:58] #173 closed

[2020-01-21 19:33] mikereiche commented on #160
I hit this with the special double quotes in comments ( the 66 ... 99 quotes ).  I just replaced them with regular double-quotes.

[2020-03-17 21:22] viboga opened #177 "adds a duplicate header on reruns"
I have a custom copyright header with following configuration for my projects:

_**headerLicense := Some(HeaderLicense.Custom(
  """|---------------------------------------------------------------------------------
      |...
      |---------------------------------------------------------------------------------""".stripMargin))

headerMappings := headerMappings.value + (HeaderFileType.scala -> H

[2020-04-06 15:34] esamson opened #178 "New SPDX Identifiers for GPL licenses"
The `GPL-3.0` identifier is deprecated, according to its [SPDX entry](https://spdx.org/licenses/GPL-3.0.html). Can we add the more specific `GPL-3.0-only` and `GPL-3.0-or-later` identifiers?

I can create a PR if this is welcome.

[2020-04-06 15:51] hseeberger commented on #178
PR very welcome!

[2020-04-10 06:46] #178 closed

[2020-09-08 23:09] SethTisue opened #210 "5.6.0 release is missing release notes?"
https://github.com/sbt/sbt-header/releases/tag/v5.6.0

[2020-09-08 23:10] SethTisue commented on #210
looks like the addition of `headerLicenseStyle` is the banner change?

[2021-01-13 23:26] #210 closed

[2021-04-07 13:36] Isammoc opened #233 "Publish to maven central instead of bintray"
Thank you for this plugin! We love it! And we don't want to lose it when JFrog will sunset bintray/jcenter.

Can you publish to maven central (or any other public repository that won't be sunset soon)? :pray:

References:
sbt/sbt#6294
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

As this repo is part of "sbt" GitHub organization: cc @eed3si9n

[2021-04-08 06:55] hseeberger commented on #233
Thanks @Isammoc for bringing this up.

@eed3si9n do we have a new place for sbt plugins?

[2021-04-08 14:50] eed3si9n commented on #233
We're planning on migrating existing versions on Bintray to somewhere read-only.

New versions should be published to Maven Central.

[2021-04-13 15:03] mikail-khan opened #234 "Headers Created for Generated Files"
The Scala Playframework generates a number of Scala source files. What is the best way to exclude the target folder where the generated source files are created from header creation?

I tried the following:

[code]

This failed to exclude the target folder.

The recommended way in the README is no good to me as I don't want to exclude those generated Scala source files from compilation. They still

[2021-07-05 09:39] jrudolph opened #241 "HeaderCreate silently overwrites existing license subject"
It seems that projects which include code from other code bases will easily break license conditions by using sbt-header because the default behavior is to overwrite the copyright subject with whatever is defined in the build. This is obviously very bad, legally and also against the open source spirit.

The default behavior should be to never change copyright notices originating from third-parties

[2021-07-05 10:32] hseeberger commented on #241
I think it would be very tricky to distinguish between an outdated header and one copied over from a third-party.

Wouldn't it help to exclude such copied files with an `excludeFilter`?

[2021-07-10 19:23] 2m commented on #153
As a workaround I disabled the plugin on the root project by adding:
[code]

[2021-12-23 16:48] #234 closed

[2021-12-30 15:10] mkurz opened #268 "5.6.1 release not published"
:cry:
[code]

[2022-02-06 19:23] zzvara opened #277 "5.6.3 release got updated by Scala-steward, but then, the project can not resolve it"
[code]

Using `sbt.version = 1.6.2`

[2022-02-07 07:14] #277 closed

[2022-02-07 07:24] zzvara commented on #277
It is still not resolvable on my side. Am I missing a resolver?

[2022-02-07 08:59] hseeberger commented on #277
Now 5.6.5 should be on (its way to) Maven Central.

[2022-02-08 08:19] Philippus commented on #268
5.6.5 is released on maven now.

[2022-02-08 08:20] Philippus commented on #233
5.6.5 is released on maven now.

[2022-02-08 08:20] mkurz commented on #268
Thanks!

[2022-02-08 08:20] #268 closed

[2022-10-18 11:15] mkurz commented on #233
Can be closed I guess.

[2022-10-18 11:16] mkurz commented on #23
Probably related: #282

[2022-10-18 14:09] #233 closed